<ion-header>
  <ion-toolbar class="background"  >

    <ion-icon class="boton" style="zoom:2.0;" (click)="Salir()" slot="end" name="close-outline"></ion-icon>
   
    <div style="width: 100%; text-align: center;">
      <ion-title>Menu de Partido</ion-title>
    </div>
   
   
  </ion-toolbar>
</ion-header>

<ion-content class=" background">


<p class="datos">Nombre del evento: {{NombreEvento}} </p>
<p class="datos">{{ SubCategoria }}, {{DiaEvento}} {{diaEvento}} {{mesEvento}} {{horaEvento}}:{{minutoEvento}} Hrs </p>


  <ion-item-divider color="none">
  
    <div  style=" text-align: center;">
      
      <ion-button class="textoBoton botonesChicos"   (click)="MuestraInfo()" expand="block" fill="outline">Info</ion-button>
    </div>

    <div  style=" text-align: center;">
      
      <ion-button class="textoBoton botonesChicos"   (click)="CrearVacantes($event)" expand="block" fill="outline">Crear Vacantes</ion-button>
    </div>
    
    <div  style=" text-align: center;"></div>


    
      <div style="  text-align: center;">
        <ion-button class="textoBoton botonesChicos" expand="block"  fill="outline" (click)="MostrarPost  ($event)"> Postulaciones</ion-button>
      </div>

      <div  style="  text-align: center;"></div>
  

      <div  style="  text-align: center;">
      
        <ion-button class="textoBoton botonesChicos" *ngIf="convocatoria == 'SI'"  (click)="Mostrarconvocatoria($event)" expand="block" fill="outline"> convocatoria</ion-button>
      </div>
       
  </ion-item-divider>

  <br>
<div *ngIf="Info == 1" class="ion-padding">

              <ion-chip>
                <ion-label (click)="Cuposextras()">Agregar Cupos</ion-label>
              </ion-chip>
              <ion-list *ngIf="MuestraCuposExtras == 1" >

              <ion-item >
              
                <ion-label center position="floating">Ingrese Cupos extras</ion-label>
                <ion-input 
                [(ngModel)]="CuposExtras"
                name="CuposExtras"
                required="required"></ion-input>
                
              
              </ion-item >

              <ion-chip  color="success">
                <ion-label (click)="ActualizaCupos()">Aceptar</ion-label>
              </ion-chip>

              </ion-list>
              <br><br>


                <ion-item  color="none">
                  <ion-icon slot="start" name="calendar-outline"></ion-icon>
                  <ion-label class="Chico" center position="floating">FechaEvento</ion-label>
                  <ion-datetime class="Chico"
                    [(ngModel)]="FechaEvento"
                    name="FechaEvento"
                    
                    id="dynamicDisabled" displayFormat="MM/DD/YYYY"  value="2020-12-15"></ion-datetime>
                </ion-item>

                <ion-item color="none">
                  <ion-icon slot="start" name="time-outline"></ion-icon>
                  <ion-label class="Chico">Hora</ion-label>
                  <ion-datetime  class="Chico"
                  [(ngModel)]="Hora"
                  displayFormat="HH:mm"></ion-datetime>
                </ion-item>
                <ion-item color="none">
                  <ion-icon slot="start" name="server-outline"></ion-icon>
                  <ion-label class="Chico">Cupos</ion-label>
                  <ion-badge color="dark" slot="end">{{Cupos}}</ion-badge>
                  
                
                </ion-item >
                <ion-item color="none" >
                  <ion-icon slot="start" name="map-outline"></ion-icon>  
                  <ion-label class="Chico">Region</ion-label>
                  <ion-select class="Chico" interface="action-sheet" [(ngModel)]="Idregion" (ionChange)="ListaRecintos()" okText="ok" cancelText="Cancelar">
                    <ion-select-option value="0">Sin Region</ion-select-option>
                    <ion-select-option value="1">ARICA Y PARINACOTA  </ion-select-option>
                    <ion-select-option value="2">TARAPACÁ  </ion-select-option>
                    <ion-select-option value="3">ANTOFAGASTA  </ion-select-option>
                    <ion-select-option value="4">COQUIMBO  </ion-select-option>
                    <ion-select-option value="5">VALPARAÍSO  </ion-select-option>
                    <ion-select-option value="6">DEL LIBERTADOR GRAL. BERNARDO O'HIGGINS </ion-select-option>
                    <ion-select-option value="7">DEL MAULE </ion-select-option>
                    <ion-select-option value="8">DEL BIOBÍO </ion-select-option>
                    <ion-select-option value="9">DE LA ARAUCANÍA </ion-select-option>
                    <ion-select-option value="10">DE LOS RÍOS </ion-select-option>
                    <ion-select-option value="11">DE LOS LAGOS  </ion-select-option>
                    <ion-select-option value="12">AISÉN DEL GRAL.CARLOS IBÁÑEZDEL CAMPO </ion-select-option>
                    <ion-select-option value="13">MAGALLANESY DE LA ANTÁRTICACHILENA </ion-select-option>
                    <ion-select-option value="14">METROPOLITANA DE SANTIAGO </ion-select-option>
                    <ion-select-option value="15">ATACAMA </ion-select-option>
                    <ion-select-option value="16">ÑUBLE </ion-select-option>
                
                
                
                  </ion-select>
                </ion-item>

                
                <ion-item color="none">
                  <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>  
                  <ion-label class="Chico">Recinto</ion-label>
                  <ion-select value="IdRecinto"  interface="action-sheet" [(ngModel)]="IdRecinto"  okText="ok" cancelText="Cancelar">
                    <ion-select-option class="Chico"*ngFor="let p of Recintos" value="{{p.IdRecinto}}">{{p.Nombre}} / {{p.Direccion}}</ion-select-option>
                  </ion-select>
                </ion-item>

                
                <ion-item color="none">
                  <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>  
                  <ion-label class="Chico">Estado Reserva</ion-label>
                  <ion-select  value="IdEstadoRecerva"  interface="action-sheet" [(ngModel)]="IdEstadoRecerva"  okText="ok" cancelText="Cancelar">
                    <ion-select-option  class="Chico" *ngFor="let p of EstadoReserva" value="{{p.IdEstadoReserva}}">{{p.Estado}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item color="none">
                  <ion-icon slot="start" name="keypad-outline"></ion-icon>    
                  <ion-label class="Chico">Tipo Evento</ion-label>
                  <ion-select value="IdRecinto"  interface="action-sheet" [(ngModel)]="IdTipoEvento" (ionChange)="CambiarTipo()" okText="ok" cancelText="Cancelar">
                    <ion-select-option class="Chico" *ngFor="let p of TiposEventos" value="{{p.IdTipoEvento}}">{{p.Descripcion}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item color="none" *ngIf="convocatoria == 'SI'">
                  <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>  
                  <ion-label class="Chico">Equipos</ion-label>
                  <ion-select value="IdRecinto"  interface="action-sheet" [(ngModel)]="IdEquipo"  okText="ok" cancelText="Cancelar">
                    <ion-select-option class="Chico" *ngFor="let e of Equipos" value="{{e.IdEquipo}}">{{e.Descripcion}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item  color="none">
                  <ion-icon slot="start" name="hourglass-outline"></ion-icon>    
                  <ion-label class="Chico">Estado Evento</ion-label>
                  <ion-select value="IdRecinto"  interface="action-sheet" [(ngModel)]="IdEstadoEvento"  okText="ok" cancelText="Cancelar">
                    <ion-select-option *ngFor="let p of Estados" value="{{p.IdEstadoEvento}}">{{p.Descripcion}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item   color="none" >
                  <ion-icon slot="start" name="hourglass-outline"></ion-icon>    
                  <ion-label class="Chico" center >Duracion</ion-label>
                  <ion-input class="Chico" style="text-transform:uppercase;"
                  [(ngModel)]="Duracion"
                    name="Duracion"
                    required="required"  ></ion-input>
                </ion-item>
                
                <ion-item color="none">
                  
                  <ion-label class="Chico" center position="floating">Observacion</ion-label>
                  <ion-textarea
                  [(ngModel)]="Observacion"
                    name="Observacion"
                    required="required" 
                  ></ion-textarea>
                  
                
                </ion-item>


                <br>
  
                <ion-item-divider color="none"> 
                  <div style="width: 20%; text-align: center;">
                   
                  </div>
                
                  <div style="width: 100%; text-align: center;">
                    
                    <ion-button class="botones"  fill="outline" (click)="actualiza()"  expand="block">Actualizar</ion-button>
                   
                  </div>
                
                    <div style="width: 20%; text-align: center;">
                     </div>
                     
                </ion-item-divider>


</div>

<div *ngIf="Vac == 1" class="ion-padding">

  <h3>Vacantes Creadas</h3>

  <p>JUGADORES SOLICITADOS:  {{CantidadJugador}}</p>
  <ion-item  color="none"lines="none" >
    <ion-range min="0" max="10" pin="true" [(ngModel)]="CantidadJugador"   color="secondary"></ion-range>
  </ion-item >
  
  
  
  <p>RIVALES SOLICITADOS:  {{CantidadRival}}</p>
  <ion-item color="none" lines="none" >
       <ion-range min="0" max="10" pin="true" [(ngModel)]="CantidadRival"   color="secondary"></ion-range>
     
  </ion-item >
  
  
  <ion-grid>
  
    <ion-row>
      <ion-col size="6">
        <ion-label center position="floating">Arbitro</ion-label>
      </ion-col>
      <ion-col size="4">
      
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="Arbitro" (ionChange)="cambioArbitro($event)" checked></ion-toggle>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  
  
  <ion-grid>
  
    <ion-row>
      <ion-col size="6">
        <ion-label center position="floating">Con Asistente</ion-label>
      </ion-col>
      <ion-col size="4">
      
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="ConAsistente" (ionChange)="cambioAsistente($event)" checked></ion-toggle>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
    
  <ion-item-divider color="none">
    <div style="width: 25%; text-align: center;">
     
    </div>
  
    <div style="width: 50%; text-align: center;">
      <ion-button class="botones2" expand="block"  (click)="Guardar()" fill="outline">Guardar</ion-button>
    </div>
  
      <div style="width: 25%; text-align: center;">
       </div>
       
  </ion-item-divider>
</div>


<div *ngIf="Post == 1" class="ion-padding">

  
  
  <br>
  <ion-list  *ngFor="let c of Postulaciones">
    <ion-grid >
      <ion-row>
        <ion-col size="2">
          <img src="https://i0.pngocean.com/files/340/946/334/avatar-user-computer-icons-software-developer-avatar-thumb.jpg">
        </ion-col>
        <ion-col>
          <ion-item color="none">
            <ion-icon slot="end" (click) = "Eliminar(c.IdPostulacion)" class="ColorRojo" name="close-circle-outline"></ion-icon>
            <ion-icon slot="end"  (click) = "Aceptar(c.IdPostulacion)" class="ColorVerde" name="checkmark-outline"></ion-icon>
            <ion-label class="TextoNegro">      
              <h4 class="TextoNegro">Usuario: {{ c.NombreUsuario}}</h4>  
              <p class="TextoNegro">Estado: {{c.Descripcion}}</p>
              <p class="TextoNegro">Tipo: {{c.Tipo}}</p>
               
              
            </ion-label>
            
            
          </ion-item>
      </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-list>
  


</div>
  
<div *ngIf="Conv == 1" class="ion-padding">


  <ion-chip>
    <ion-label (click)="AgregarAsistente()">Agregar asistente manual</ion-label>
  </ion-chip>
  <ion-list *ngIf="Agregar == 1" >
  
  <ion-item >
   
    <ion-label center position="floating">Ingrese Nombre</ion-label>
    <ion-input 
    [(ngModel)]="NombreAsistente"
    name="NombreAsistente"
    required="required"></ion-input>
    
   
  </ion-item >
  
  
  
  <ion-chip  color="success">
    <ion-label (click)="AceptaAgregar()">Aceptar</ion-label>
  </ion-chip>
  
  </ion-list>
  
  <br>
  
  <div *ngFor="let c of cupos">
        <ion-row>
          <ion-col size="3">
            Total Cupos
          </ion-col>
          <ion-col size="3">
           {{ c.total }}
          </ion-col>
      
        
        </ion-row>
       <br>
        <ion-row>
          <ion-col size="3">
            Internos
          </ion-col>
          <ion-col size="3">
            {{c.Convocatoria}}
          </ion-col>
          <ion-col size="3">
            Externos
          </ion-col>
          <ion-col size="3">
            {{c.vacantes}}
          </ion-col>
        
        </ion-row>
        <br><br>
  </div>
  <br>
  <ion-row *ngFor="let c of convocatoriasManual">
    <ion-col size="9">
      <ion-label>      
        <h4>Invitado: {{ c.Nombre}}</h4>  
        <p (click)="MostrarPostulacionManual(c.IdConvocatoriaManual,c.IdEstadoConvocatoria)">Estado: {{c.Descripcion}}</p>
        
      </ion-label>
    </ion-col>
    <ion-col size="1" *ngIf="c.IdEstadoConvocatoria == 1">
      <ion-label>      
        <h4 style="width: 100%; text-align: center;">1</h4>  
        <ion-checkbox *ngIf="c.Grupo == 1" style="width: 100%; text-align: center;" (click)="UnoManual(c.Nombre,c.IdConvocatoriaManual)" checked="true"></ion-checkbox>
        <ion-checkbox *ngIf="c.Grupo == 2" style="width: 100%; text-align: center;" (click)="UnoManual(c.Nombre,c.IdConvocatoriaManual)" ></ion-checkbox>
  
      </ion-label>
      
    </ion-col>
    <ion-col  size="1" *ngIf="c.IdEstadoConvocatoria == 1">
      <ion-label>      
        <h4 style="width: 100%; text-align: center;">2</h4>  
        <ion-checkbox *ngIf="c.Grupo == 2" style="width: 100%; text-align: center;" (click)="DosManual(c.Nombre,c.IdConvocatoriaManual)"checked="true"></ion-checkbox>
        <ion-checkbox *ngIf="c.Grupo == 1" style="width: 100%; text-align: center;" (click)="DosManual(c.Nombre,c.IdConvocatoriaManual)"></ion-checkbox>
  
      </ion-label>
      
    </ion-col>
  </ion-row>

    <ion-row *ngFor="let c of convocatorias">
      <ion-col size="9">
        <ion-label>      
          <h4 >Usuario: {{ c.NombreUsuario}}</h4>  
          <p (click)="MostrarPostulacion(c.IdConvocatoria,c.IdEstadoConvocatoria)">Estado: {{c.Descripcion}}</p>
          
        </ion-label>
      </ion-col>
      <ion-col size="1" *ngIf="c.IdEstadoConvocatoria == 1">
        <ion-label>      
          <h4 style="width: 100%; text-align: center;">1</h4>  
          <ion-checkbox *ngIf="c.Grupo == 1" style="width: 100%; text-align: center;" (click)="Uno(c.IdUsuarioEquipo,c.IdConvocatoria)" checked="true"></ion-checkbox>
          <ion-checkbox *ngIf="c.Grupo == 2" style="width: 100%; text-align: center;" (click)="Uno(c.IdUsuarioEquipo,c.IdConvocatoria)" ></ion-checkbox>
    
        </ion-label>
        
      </ion-col>
      <ion-col  size="1" *ngIf="c.IdEstadoConvocatoria == 1">
        <ion-label>      
          <h4 style="width: 100%; text-align: center;">2</h4>  
          <ion-checkbox *ngIf="c.Grupo == 2" style="width: 100%; text-align: center;" (click)="Dos(c.IdUsuarioEquipo,c.IdConvocatoria)"checked="true"></ion-checkbox>
          <ion-checkbox *ngIf="c.Grupo == 1" style="width: 100%; text-align: center;" (click)="Dos(c.IdUsuarioEquipo,c.IdConvocatoria)"></ion-checkbox>
    
        </ion-label>
        
      </ion-col>
    </ion-row>


</div>


  </ion-content>
  <ion-footer>
    
   
    <ion-toolbar>
      <img class="publicidad" src="https://www.marketingsgm.es/wp-content/uploads/Go-Run-it-1024x287.jpg">
    
  
    </ion-toolbar>
  </ion-footer>
  
  
