<ion-content class="ion-padding">
  <ion-searchbar
    type="search"
    mode="md"
    placeholder="Búscar equipos"
  ></ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding" mode="md">
          <ion-avatar slot="start">
            <ion-img src="../../assets/list/avatar.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            <p>JUGADOR</p>
            <h3>Sergio Díaz</h3>
          </ion-label>
          <ion-button slot="end" expand="block" fill="outline" class="style-col-button">
            ENVIADA
          </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding" mode="md">
          <ion-avatar slot="start">
            <ion-img src="../../assets/list/avatar.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            <p>JUGADOR</p>
            <h3>Diego Navarrete</h3>
          </ion-label>
          <ion-button slot="end" expand="block" fill="outline" class="style-col-button-outline">
            INVITAR
          </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding" mode="md">
          <ion-avatar slot="start">
            <ion-img src="../../assets/list/avatar.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            <p>JUGADOR</p>
            <h3>Pedro Valenzuela</h3>
          </ion-label>
          <ion-button slot="end" expand="block" fill="outline" class="style-col-button-outline">
            INVITAR
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
