ion-content,
ion-toolbar {
  --background: transparent;
}

ion-button {
  color: #f9f9f9;
}

ion-card {
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: none;
  border-radius: 10px;

  ion-card-content {
    padding-bottom: 0px;
  }
}

p {
  font-family: Montserrat-Regular;
  color: #707070;
  font-size: 10px;
  letter-spacing: 0;
}

h3 {
  color: #333333;
  font-family: Montserrat-Regular;
  font-size: 12px;
  //font-weight: 600;
  letter-spacing: 0;
}

ion-icon[name="information-circle-outline"] {
  color:#333333;
  margin-bottom: 5px;
  font-size: 35px;
}

ion-item > ion-label {
  color: #c90949;
  font-size: 12px;
  font-family: Montserrat-Regular;
  letter-spacing: 0;
}

ion-checkbox {
    --border-radius: 5px;
    --border-color: #c90949;
    --checkmark-color: #c90949;
    --border-color-checked: #c90949;
    --background-checked: rgb(248, 138, 147, 0.2);
    --size: 25px;
    margin-right: 10px;
  }
  

.style-fullheight {
  height: 100%;
}

.style-fullheightRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-align-col{
  display: flex; justify-content: center;
}

.style-button {
    --border-color: #c90949;
    --border-radius: 41.5px;
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 42px;
    width: 90%;
    --background: #c90949;
    letter-spacing: 0;
    line-height: 18px;
    font-family: Montserrat-SemiBold;
    margin-bottom: 20px;
  }
  
