ion-content,
ion-toolbar {
  --background: transparent;
}

ion-button {
  color: #f9f9f9;
}

ion-card {
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: none;
  border-radius: 10px;
}

.style-fullheight {
  height: 100%;
}

.style-fullheightRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
