.style-grid-item {
  background-color: #f9f9f9;
  border-radius: 0 0 40px 40px;
}

.style-col-item {
  ion-item {
    --background: #f9f9f9;
    --padding-start: 10px;
  }

  ion-avatar {
    margin-top: 10px;
    width: 90px;
    border: 1px solid #ebebeb;
    height: 90px;
    border-radius: 9px;
    box-shadow: 0 3px 14px 2px rgba(51, 51, 51, 0.05),
      0 5px 5px -3px rgba(51, 51, 51, 0.1);
    padding: 2px;
    background: #ffffff;
    margin-bottom: 15px;
  }

  ion-avatar > ion-img {
    border-radius: 9px;
  }

  ion-label {
    margin-top: 0px;
  }

  h3 {
    color: #333333;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
  }

  p {
    color: #707070;
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
  }
}

.style-col-item-list {
  padding-top: 0px;

  ion-item {
    --inner-padding-start: 10px;
    --inner-padding-end: 5px;
    --background: #f9f9f9;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  ion-item ion-label {
    color: #333333;
    font-family: Montserrat-Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }

  ion-icon[name="chevron-forward-outline"] {
    color: #b9b8b9;
    font-size: 28px;
  }
}

ion-searchbar {
  --icon-color: #333333;
  --box-shadow: 0 9px 46px 8px rgba(51, 51, 51, 0.05),
    0 11px 15px -7px rgba(51, 51, 51, 0.1);
  --placeholder-color: #b9b8b9;
  margin-top: -78px;
  z-index: 10;
  font-family: Montserrat-Regular;
  font-size: 14px;

  ::ng-deep {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 10px;
        padding: 15px 5px 15px 45px;
        margin-top: 30px;
        caret-color: #c90949;
      }
    }

    .searchbar-clear-icon {
      margin-top: 17px;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
      top: 50px;
    }
  }
}

.style-col-text-search {
  p {
    color: #333333;
    font-family: Montserrat-Bold;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 5px;
    padding-bottom: 20px;
  }
}

.style-col-text-slide {
  ion-item {
    --padding-start: 20px;
    --padding-end: 18px;
    --inner-padding-end: 0px;
    --padding-bottom: 25px;
  }

  p,
  ion-item ion-label:first-child {
    color: #333333;
    font-family: Montserrat-Bold;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 2px;
  }

  ion-item ion-label:last-child {
    color: #c90949;
    font-family: Montserrat-SemiBold;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 13px;
    text-decoration: underline;
    margin-bottom: 2px;
  }
}

ion-icon[name="add-outline"] {
  background: #ffffff;
  color: #ed576b;
  padding: 2px;
  border-radius: 41.5px;
  box-shadow: 0 3px 16px 2px rgba(51, 51, 51, 0.05),
    0 5px 6px -3px rgba(51, 51, 51, 0.1);
  position: absolute;
  top: 75px;
  left: 43px;
  font-size: 20px;
}

.style-col-item-slide {
  ion-slide {
    width: 180px !important;
    margin-bottom: 20px;
  }

  h4 {
    color: #333333;
    font-family: Montserrat-SemiBold;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14px;
  }

  h5 {
    color: #707070;
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
  }

  ion-avatar {
    margin-top: 0px;
    width: 72px;
    height: 72px;
    padding: 7px;
    margin-right: 8px;
  }

  .style-col-item-avatar-first {
    background-color: #3c8af4;
    border-radius: 5px;
  }

  .style-col-item-avatar-last {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 10px;
  }
}

.style-col-card-slide {
  ion-slide {
    width: 169px !important;
    margin-left: -5px;
    margin-top: 4px;
  }

  ion-card {
    height: 168px;
    width: 152px;
    border-radius: 10px;
    box-shadow: 0 5px 22px 4px rgba(51, 51, 51, 0.05),
      0 7px 8px -4px rgba(51, 51, 51, 0.1);
  }

  ion-card-content {
    padding-top: 0px;
  }

  ion-avatar {
    margin-top: 3px;
    width: 72px;
    height: 72px;
    padding: 7px;
    margin-bottom: 11px;
  }

  ion-item {
    --inner-padding-start: 12.5px;
    --inner-padding-bottom: 5px;
  }

  .style-col-item-avatar-last {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .swiper-pagination-bullets-orange,
  .swiper-pagination-bullets-green {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
  }

  .swiper-pagination-bullets-orange {
    background: #ffc028;
  }

  .swiper-pagination-bullets-green {
    background: #62e041;
  }

  .swiper-pagination-bullets-text-orange,
  .swiper-pagination-bullets-text-green {
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
    margin-left: 5px;
  }

  .swiper-pagination-bullets-text-orange {
    color: #ffc028;
  }

  .swiper-pagination-bullets-text-green {
    color: #62e041;
  }

  .style-card-text-title {
    color: #333333;
    font-family: Montserrat-SemiBold;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 10px;
  }

  .style-card-text-subtitle {
    color: #b9b8b9;
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
  }
}

.style-col-card-slides {
  ion-card {
    height: 220px;
    width: 340px;
    border-radius: 10px;
    margin-top: 2px;
    box-shadow: 0 5px 22px 4px rgba(51, 51, 51, 0.05),
      0 7px 8px -4px rgba(51, 51, 51, 0.1);
    border: 1px solid #ebebeb;
    margin-left: 19px;
    margin-top: 8px;
  }

  ion-slide {
    width: 340px !important;
  }

  ion-card-header {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 12px;
    text-align: left;
  }

  ion-card-title,
  ion-card-subtitle {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 13px;
    font-family: Montserrat-Bold;
  }

  ion-card-title {
    --color: #333333;
  }

  ion-card-subtitle {
    margin-top: 5px;
    --color: #3c8af4;
  }

  .style-card-row-status {
    background-color: #f9f9f9;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 5px 2px 5px;
    margin: 0px 1px;
  }

  .style-card-row-sport {
    background-color: #f9f9f9;
    border-radius: 0px;
    padding: 5px 5px 2px 5px;
    border: 1px solid#FFFFFF;
  }

  .style-card-row-enclosure {
    background-color: #f9f9f9;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 5px 2px 5px;
    margin: 0px 1px;
  }

  .style-card-row-date {
    padding: 10px 0px 0px 0px;
  }

  .text-first,
  .text-last {
    color: #333333;
    font-family: Montserrat-Bold;
    font-weight: 600;
  }

  .text-date {
    color: #b9b8b9;
    font-family: Montserrat-Regular;
  }

  .text-date > span {
    font-family: Montserrat-SemiBold;
  }

  .text-first,
  .text-last,
  .text-date {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
  }
}
