<app-header></app-header>


<ion-content class="ion-padding">


  <ion-card  >
    <ion-card-header>
      <ion-item >
        
        <ion-card-subtitle><h5>Alerta 1</h5></ion-card-subtitle>
      </ion-item>
    </ion-card-header>
    <br>
    <ion-card-content class="background"> 
     <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id at expedita architecto veritatis, autem quidem doloremque maxime deleniti aliquam eaque sequi atque cumque assumenda voluptates earum totam tenetur ea sapiente.</h2>
      
      <br><br>
      <ion-button color="danger" size="small">Eliminar</ion-button>
      
    </ion-card-content>
  </ion-card>

<br>

<ion-card  >
  <ion-card-header>
    <ion-item >
      
      <ion-card-subtitle><h5>Mensaje 1</h5></ion-card-subtitle>
    </ion-item>
  </ion-card-header>
  <br>
  <ion-card-content class="background"> 
   <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id at expedita architecto veritatis, autem quidem doloremque maxime deleniti aliquam eaque sequi atque cumque assumenda voluptates earum totam tenetur ea sapiente.</h2>
    
    <br><br>
    <ion-button color="danger" size="small">Eliminar</ion-button>
    
  </ion-card-content>
</ion-card>

<ion-card  >
  <ion-card-header>
    <ion-item >
      
      <ion-card-subtitle><h5>Alerta 55</h5></ion-card-subtitle>
    </ion-item>
  </ion-card-header>
  <br>
  <ion-card-content class="background"> 
   <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id at expedita architecto veritatis, autem quidem doloremque maxime deleniti aliquam eaque sequi atque cumque assumenda voluptates earum totam tenetur ea sapiente.</h2>
    
    <br><br>
    <ion-button color="danger" size="small">Eliminar</ion-button>
    
  </ion-card-content>
</ion-card>

<ion-card  >
  <ion-card-header>
    <ion-item >
      
      <ion-card-subtitle><h5>Alerta 67</h5></ion-card-subtitle>
    </ion-item>
  </ion-card-header>
  <br>
  <ion-card-content class="background"> 
   <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id at expedita architecto veritatis, autem quidem doloremque maxime deleniti aliquam eaque sequi atque cumque assumenda voluptates earum totam tenetur ea sapiente.</h2>
    
    <br><br>
    <ion-button color="danger" size="small">Eliminar</ion-button>
    
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <img class="publicidad" src="https://static.wixstatic.com/media/295a2a_c2b14bedb41a4a8d85bef34b62df9496~mv2_d_4000_2250_s_2.jpg/v1/fill/w_889,h_500,al_c,q_85,usm_0.66_1.00_0.01/295a2a_c2b14bedb41a4a8d85bef34b62df9496~mv2_d_4000_2250_s_2.webp">
  

  </ion-toolbar>
</ion-footer>