<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        mode="md"
        defaultHref="login"
      ></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Detalle de vacante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="style-grid-principal"
    ><ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>CAMPEONATO FUTSAL EMPRESAS</ion-card-title>
            <ion-card-subtitle>ESTAS CONFIRMADO</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row class="style-card-row-vacant">
                <ion-col size="5">
                  <p class="ion-text-start text-first">VACANTES</p>
                </ion-col>
                <ion-col size="7">
                  <p class="ion-text-end text-last">Ya tomaste esta vacante</p>
                </ion-col>
              </ion-row>
              <ion-row class="style-card-row-sport">
                <ion-col size="4">
                  <p class="ion-text-start text-first">DEPORTE</p>
                </ion-col>
                <ion-col size="8">
                  <p class="ion-text-end text-last">Fútbol sala</p>
                </ion-col>
              </ion-row>
              <ion-row class="style-card-row-enclosure">
                <ion-col size="3">
                  <p class="ion-text-start text-first">RECINTO</p>
                </ion-col>
                <ion-col size="9">
                  <p class="ion-text-end text-last">Polideportivo CORDEP</p>
                </ion-col>
              </ion-row>
              <ion-row class="style-card-row-date">
                <ion-col size="8">
                  <p class="ion-text-start text-date">
                    FECHA
                    <span class="ion-text-start text-last">
                      MARTES, 08 DE SEPT</span
                    >
                  </p>
                </ion-col>
                <ion-col size="4">
                  <p class="ion-text-end text-date">
                    HORA <span class="ion-text-start text-last"> 1:00 A.M</span>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col></ion-row
    >
  </ion-grid>

  <div class="style-grid-principal">
    <ion-segment value="information">
      <ion-segment-button value="information">
        <ion-label class="ion-text-start">INFORMACIÓN</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid class="style-grid">
    <ion-row>
      <ion-col size="12" class="ion-text-start ion-padding-top">
        <h3>ORGANIZA:</h3>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding style-item-div">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Renca juniors</h4>
            <h5>50 MIEMBROS</h5>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <p class="style-text-col-title">Información principal</p>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item lines="none">
            <ion-grid class="style-grid-border">
              <ion-row>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Fecha</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">12-08-2020</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Hora</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">16:00 HRS</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Cupos</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">12</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Estado de reserva</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">RESERVADA</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Región</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">RM</p>
                </ion-col>
                <ion-col size="8" class="ion-text-col-first">
                  <p class="ion-text-start">Maipu, A.v pajaritos 13…</p>
                </ion-col>
                <ion-col size="4" class="ion-text-col-last">
                  <p class="ion-text-end">Ver mapa</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Duracion</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">60 MIN</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <p class="style-text-col-title">Información adicional</p>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item lines="none">
            <ion-grid class="style-grid-border">
              <ion-row>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Nivel</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">Amateur</p>
                </ion-col>
                <ion-col size="9" class="ion-text-col-first">
                  <p class="ion-text-start">Camiseta del organizador</p>
                </ion-col>
                <ion-col size="3" class="ion-text-col-last">
                  <p class="ion-text-end">Azul</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Edad promedio</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">20 a 25 Años</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Genero</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">Hombre</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-first">
                  <p class="ion-text-start">Precio de la cancha</p>
                </ion-col>
                <ion-col size="6" class="ion-text-col-last">
                  <p class="ion-text-end">$3500</p>
                </ion-col>
                <ion-col size="8" class="ion-text-col-first">
                  <p class="ion-text-start">Número de cancha</p>
                </ion-col>
                <ion-col size="4" class="ion-text-col-last">
                  <p class="ion-text-end">Cancha 5</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-button
          class="style-user-button"
          expand="block"
          (click)="presentModalRefereeAcepted()"
          >CANCELAR POSTULACIÓN
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
