
<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger" >
   
    <ion-tab-button tab="Perfil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="postular">
      <ion-icon name="search"></ion-icon>
      <ion-label>Vacantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alertas">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Partido">
      <ion-icon name="book"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="CrearPartido">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Crear Partido</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


