*{
    color: white;
    font-family: Montserrat-Light;
}

.titulo{
    font-family: Montserrat-Bold;
}

ion-content.background{
    --background: #000
    url('../../../assets/background2_.png') no-repeat center center / cover;
}


.publicidad{
    height: 150px;
    width: 100%;
   
   }
   
  