ion-content,
ion-toolbar {
  --background: transparent;
}

ion-button {
  color: #f9f9f9;
}

ion-card {
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: none;
  border-radius: 10px;
}

.style-fullheight {
  height: 100%;
}

.style-fullheightRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #333333;
  font-family: Montserrat-Regular;
  font-size: 10px;
  letter-spacing: 0;
  margin-top: 25px;
}

h3 {
  color: #333333;
  font-family: Montserrat-SemiBold;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.style-item-input {
  ion-item {
    --highlight-height: 1px;
  }
  ion-input {
    --color: #b9b8b9;
    font-family: Montserrat-Regular;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-top: 10px;
    font-size: 10px;
    letter-spacing: 0;

    .text-input {
      text-align: start;
    }
  }

  div {
    margin-top: 3px;
  }

  div > small {
    color: #707070;
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
  }
}

.style-row-align {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.style-row-align > ion-button {
  height: 32px;
  width: 112px;
  --background: #c90949;
  --box-shadow: none;
  font-size: 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: Montserrat-SemiBold;
  --color: #ffffff;
}
