
<app-headerback></app-headerback>

<ion-content class="ion-padding">

    <h5>Perfil Equipo</h5>
  
  
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/4155.png">
        </ion-col>
        <ion-col>
        <label>Colocolinos </label>
        <br>
        <label class="chico">1000 seguidores - 400 seguidos</label>
        <br>
        <label class="chico">500 P. Organizados - 5000 Participaciones</label>
      </ion-col>
        
      </ion-row>
    </ion-grid>
  
  
  
    <ion-list>
      <ion-item routerLink="/confiequipo">
       <ion-label>Configuracion</ion-label>
       <br>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Perfil y Estadisticas</ion-label>
        <br>
         <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
       </ion-item>
       <ion-item routerLink="/adminmiembros">
        <ion-label>Administracion de miembros</ion-label>
        <br>
         <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
       </ion-item>
    </ion-list>
  
  
    <h5>Proximos Partidos</h5>
    <label class="chica">Revisa el estado de los proximos partidos</label>

<br><br>

<label class="Mediano">Confirmados (6)</label>

<ion-list>
    <ion-item>
     <ion-label>Partido 1</ion-label>
     <br>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Partido 2</ion-label>
      <br>
       <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
     </ion-item>
     <ion-item>
      <ion-label>Partido 3</ion-label>
      <br>
       <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
     </ion-item>
     <ion-item>
        
        <ion-icon slot="end"  name="add-outline"></ion-icon>
       </ion-item>
     
  </ion-list>


  <br><br>

<label class="Mediano">En espera de confirmacion (1)</label>

<ion-list>
    <ion-item>
     <ion-label>Partido 11</ion-label>
     <br>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Partido 22</ion-label>
      <br>
       <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
     </ion-item>
     <ion-item>
      <ion-label>Partido 31</ion-label>
      <br>
       <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
     </ion-item>
     <ion-item>
        
        <ion-icon slot="end"  name="add-outline"></ion-icon>
       </ion-item>
     
  </ion-list>
  
  
  
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <img class="publicidad" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQER9P5DdrM_Gn2TjGnAZv0O2s_n4Mlp6VeDknKih9Y05KUR13a&usqp=CAU">
    
  
    </ion-toolbar>
  </ion-footer>
  
