<ion-header>
  <ion-toolbar >

    <ion-icon  style="zoom:2.0;" (click)="Salir()" slot="end" name="close-outline"></ion-icon>
   
    <div style="width: 100%; text-align: center;">
      <ion-title>POSTULACIONES</ion-title>
    </div>
   
   
  </ion-toolbar>
</ion-header>


<ion-content>



  
  
  <br>
  <ion-list  *ngFor="let c of Postulaciones">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img src="https://i0.pngocean.com/files/340/946/334/avatar-user-computer-icons-software-developer-avatar-thumb.jpg">
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="end" (click) = "Eliminar(c.IdPostulacion)" class="ColorRojo" name="close-circle-outline"></ion-icon>
            <ion-icon slot="end"  (click) = "Aceptar(c.IdPostulacion)" class="ColorVerde" name="checkmark-outline"></ion-icon>
            <ion-label>      
              <h4>Usuario: {{ c.NombreUsuario}}</h4>  
              <p>Estado: {{c.Descripcion}}</p>
              <p>Tipo: {{c.Tipo}}</p>
               
              
            </ion-label>
            
            
          </ion-item>
      </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-list>
  









</ion-content>
