<ion-content> </ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="style-line"><div></div></ion-col
    ></ion-row>
  </ion-grid>
  <ion-grid class="style-grid">
    <ion-row>
      <ion-col size="12" class="ion-text-center style-col-text">
        <p>¿Este partido es para alguno</p>
        <p>de estos equipos?</p>
      </ion-col>
      <ion-col size="12">
        <ion-list mode="md" class="style-col-item">
          <ion-radio-group value="one">
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start" class="style-item-img-first">
                <!--<ion-img src="../../assets/list/avatar-ben.png"></ion-img>-->
              </ion-avatar>
              <ion-label>
                <p>Renca juniors</p>
                <h3>50 MIEMBROS</h3>
              </ion-label>
              <ion-radio slot="end" value="one"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start" class="style-item-img-last">
                <ion-img src="../../assets/list/avatar-ben.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <p>Tercer tiempo F.C.</p>
                <h3>20 MIEMBROS</h3>
              </ion-label>
              <ion-radio slot="end" value="two"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start" class="style-item-img-first">
                <!--<ion-img src="../../assets/list/avatar-ben.png"></ion-img>-->
              </ion-avatar>
              <h6>Partido Personal</h6>
              <ion-radio slot="end" value="three"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
