*{
    font-family: Montserrat-Light;
    color: #333333;
  }
  
  ion-content.background{
    --background: #ffffff;
    //url('../../../assets/background2_.png') no-repeat center center / cover;
  }
  ion-title{
    color:white;  
    font-family: Montserrat-Bold;
  }
  ion-toolbar.background{
    --background: #ca094a;
    
    color:white;
}


ion-header.background{
  
    --background: #ca094a;
    color:white;
}
  ion-toolbar{
    height: 56px;
  }


  .plomo{
   
    background-color:#504e4e;
  }
  
  
  ion-footer{
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
  }
  
  
  .myphoto{
    padding-left: 67px;
  }
  img{
    height: 70vh;
    width: 60px;
    height: 60px;
 
    border-radius: 20px;
   
  }
  
.peque{
  font-size: 10px;
}




.neg{
  font-family: Montserrat-Bold;

  color: #333333;
  
}

  .imagen{
    padding-left: 0px;
  }
  
  .negrita{
    font-family: Montserrat-Bold;
    font-size: 10px;
    color: #333333;
    
  }
  .negrita1{
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #333333;
  }
  .textcard{
    font-family: Montserrat-Bold;
    font-size: 9px;
    color: #333333;
  }
  .rojo{
    color: #C90949;
  }
  
  .azul{
    color: blue;
  }
  .subt{
    font-size: 9px;
  }
  ion-item{
    --ion-background-color:#fff;
  }
  .nombre{
    font-family: Montserrat-Bold;
   font-size: 20px;
   
   
  }
  #imgwrap {
  
    text-align: center!important;
      img {
      border:0;
      max-width:100px;
      border-radius:50%;
      }  
    }
  
    ion-button{
        --border-radius:40px;
        --border-color:#ca094a;
        --background: #ca094a;
        color: white;
        font-family: Montserrat-Bold;
     
    }
  .publicidad{
      height: 108px;
      width: 312px;
     
     }
     
     .sin{
      text-decoration: none;
  
  }
  
  ion-item{
    border: none;
    
    
  }
  
  .separador{
  padding-right: 10%;
  padding-left: 10%;
  
  }
    .buscador{
      color:black;
      font-family: Montserrat-Bold;
  
  
    }
     .Iconos{
         width: 50px;
         height: 50px;
     }
  
     .NombreEquipo{
         padding-left: 30px;
     }
  
     .borrar{
      color: red;
    }
    .agregar{
      color: green;
    }

  