ion-content,
ion-toolbar {
  --background: transparent;
}

ion-button {
  color: #f9f9f9;
}

ion-card {
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: none;
  border-radius: 10px;

  ion-card-content {
    padding-bottom: 0px;
  }
}

ion-label {
  margin-top: 5px;
}

ion-avatar {
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 2px;
  width: 50px;
  height: 50px;

  ion-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}

p {
  font-family: Montserrat-Regular;
  color: #707070;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 10px;    
}

h3 {
  color: #333333;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.style-col-div {
  border: 1px solid;
  border-color: rgba(255, 117, 47, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 220, 203, 0.3);
  padding: 8px 20px 5px 20px;
  margin: 1px 5px 10px 6px;

  p {
    color: #333333;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    font-family: Montserrat-Regular;
  }
}

.style-fullheight {
  height: 100%;
}

.style-fullheightRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-col-button-cancel {
  border-top: 1px solid #ebebeb;
  padding: 10px 5px 5px 5px;

  p {
    color: #333333;
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
  }
}

.style-col-button-delete {
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  padding: 10px 5px 5px 5px;

  p {
    color: #f43c4b;
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
  }
}
