ion-title {
  color: #ffffff;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

ion-content {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;

    ion-avatar {
      margin-top: 25px;
      width: 72px;
      height: 72px;

      ion-img {
        border-radius: 5px;
      }
    }
  }

  #header > p {
    margin-top: 12px;
    color: #333333;
    font-family: Montserrat-Bold;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 3px;
  }

  #header > span {
    color: #707070;
    font-family: Montserrat-Regular;
    font-size: 10px;
    letter-spacing: 0;
  }

  .style-segment {
    background: #f9f9f9;
    border-bottom: 1px solid #ebebeb;

    ion-segment {
      padding-top: 12px;
    }

    ion-segment ion-segment-button > ion-label {
      font-size: 10px;
      letter-spacing: 0;
      line-height: 13px;
      font-family: Montserrat-SemiBold;
    }

    .segment-button-checked {
      ion-label {
        color: #333333 !important;
        font-weight: 600 !important;
        font-family: Montserrat-SemiBold;
      }
    }

    ion-segment-button {
      --indicator-height: 1px !important;
      --padding-top: 0px;
      --padding-bottom: 5px;
      --padding-start: 0px;
      --padding-end: 0px;
      --background: #f9f9f9;
      --background-checked: #f9f9f9;
      --color-checked: #c90949;
    }
  }

  .style-invite-player {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    --inner-padding-top: 15px;
    --inner-padding-bottom: 15px;
    --padding-start: 25px;
    --padding-end: 5px;
    margin: 22px 10px 22px 10px;

    p {
      color: #333333;
      font-family: Montserrat-SemiBold;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
    }

    ion-button {
      --border-color: #333333;
      --background: #ffffff;
      --border-radius: 50px;
      --border-width: 1px;
      --color: #333333;
      height: 40px;
      width: 40px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .style-row-align-list {
    ion-avatar > ion-img {
      border-radius: 5px;
      margin-top: 0px;
      height: 48px;
      width: 48px;
    }

    ion-label {
      line-height: 7px;
      margin-left: 6px;
    }

    .style-list-header-members,
    .style-list-header-postulant {
      color: #333333;
      font-family: Montserrat-Bold;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 13px;
      padding-left: 11px;
    }

    .style-list-header-members {
      margin-bottom: 3px;
    }

    .style-list-header-postulant {
      margin-top: 5px;
      margin-bottom: -5px;
    }

    ion-item {
      --inner-padding-top: 15px;
      border-top: 1px solid #ebebeb;
      --padding-bottom: 17px;
      --padding-top: 7px;
      margin-left: 10px;
      margin-right: 10px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    ion-item:last-child {
      border-bottom: 1px solid #ebebeb;
      margin-left: 10px;
    }

    ion-item ion-label > p {
      color: #333333;
      font-family: Montserrat-Regular;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0px;
    }

    ion-item ion-label > span {
      color: #707070;
      font-family: Montserrat-Regular;
      font-size: 10px;
      letter-spacing: 0;
    }

    ion-button {
      --border-color: transparent;
      --background: #ffffff;
      --border-radius: 50px;
      --border-width: 0px;
      --color: #333333;
      margin-top: 0px;
    }
  }

  .style-button,
  .style-outline-button {
    --border-color: #c90949;
    --border-radius: 41.5px;
    --border-width: 1px;
    --box-shadow: none;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 18px;
    height: 56px;
    letter-spacing: 0;
    line-height: 18px;
    font-family: Montserrat-SemiBold;
  }
  .style-button {
    --background: #c90949;
    color: #fff;
  }

  .style-outline-button {
    color: #c90949;
    margin-bottom: 20px;
  }

  .style-col-div {
    border: 1px solid;
    border-color: rgba(206, 225, 252);
    border-radius: 5px;
    background-color: rgba(206, 225, 252, 0.3);
    padding: 10px 40px 10px 40px;
    margin: 15px 15px 0px 15px;

    p {
      color: #3c8af4;
      font-family: Montserrat-Bold;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 13px;
    }
  }

  .style-col-item-select {
    padding-top: 9px;

    ion-item {
      --padding-end: 5px;
      --inner-padding-end: 8px;
      --padding-start: 3px;
      --inner-padding-start: 10px;
      --inner-padding-top: 7px;
      --inner-padding-bottom: 7px;
      color: #707070;
      font-family: Montserrat-Regular;
    }

    ion-select::part(icon) {
      display: none !important;
    }

    ion-label {
      color: #333333;
      font-family: Montserrat-Regular;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  .style-col-list-item-deport {
    margin-bottom: 60px;

    ion-avatar {
      height: 40px;
      width: 40px;
    }

    ion-item {
      border-radius: 5px;
      margin: 15px 15px 0px 15px;
      box-shadow: 0 6px 30px 5px rgba(51, 51, 51, 0.05),
        0 8px 10px -5px rgba(51, 51, 51, 0.1);
    }

    ion-label {
      color: #707070;
      font-family: Montserrat-Regular;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }

    ion-icon[name="close-outline"] {
      color: #b9b8b9;
      font-size: 19px;
    }

    .style-col-item-avatar-first {
      border-radius: 7px;
      background-color: #d8f7cf;

      ion-icon[name="basketball-outline"] {
        font-size: 29px;
        margin-left: 6px;
        margin-top: 5px;
        color: #62e041;
      }
    }

    .style-col-item-avatar-middle {
      border-radius: 7px;
      background-color: #cee1fc;

      ion-icon[name="american-football-outline"] {
        font-size: 29px;
        margin-left: 6px;
        margin-top: 5px;
        color: #3c8af4;
      }
    }

    .style-col-item-avatar-last {
      border-radius: 7px;
      background-color: #ffefc9;

      ion-icon[name="bicycle-outline"] {
        font-size: 29px;
        margin-left: 6px;
        margin-top: 5px;
        color: #ffc028;
      }
    }
  }

  .style-col-text-description {
    margin-left: 12px;
    margin-right: 12px;

    ion-label {
      color: #333333;
      font-family: Montserrat-SemiBold;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
    }

    p {
      color: #707070;
      font-family: Montserrat-Regular;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 24px;
    }

    ion-button {
      width: 152px;
      --border-radius: 41.5px;
      --border-color: #ebebeb;
      --border-width: 1px;
      --padding-top: 10px;
      --padding-bottom: 10px;
      --color: #707070;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0;
      --background: #ffffff;
      line-height: 13px;
      font-family: Montserrat-SemiBold;
      --box-shadow: none;
      margin-left: -5px;
      margin-top: 40px;
    }
  }

  .style-col-border-select {
    ion-item {
      border: 1px solid #ebebeb;
      border-radius: 5px;
      height: 40px;
      box-shadow: 0 5px 22px 4px rgba(51, 51, 51, 0.05),
        0 7px 8px -4px rgba(51, 51, 51, 0.1);
      margin: 15px 3px 16px 3px;

      ion-select {
        --padding-top: 3px;
        --padding-end: 10px;
      }

      ion-label {
        color: #333333;
        font-family: Montserrat-SemiBold;
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 0;
        margin-top: 0px;
      }

      ion-icon[name="caret-up-outline"] {
        color: #333333;
        font-size: 8px;
        margin-top: 2px;
        margin-left: 0px;
      }

      ion-select::part(icon) {
        display: none !important;
      }
    }
  }

  .style-col-border-item {
    ion-item:first-child {
      border: 1px solid #ebebeb;
      border-radius: 10px 10px 0px 0px;
    }

    ion-item {
      border-bottom: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      margin-left: 3px;
      margin-right: 3px;
    }

    ion-item:last-child {
      border-radius: 0px 0px 10px 10px;
    }

    ion-label {
      color: #333333;
      font-family: Montserrat-Regular;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }

    ion-badge {
      border-radius: 41.5px;
      background-color: rgb(206, 225, 252, 0.3);
      height: 25px;
      width: 40px;
      font-family: Montserrat-SemiBold;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 18px;
      color: #3c8af4;
    }

    p {
      color: #333333;
      font-family: Montserrat-SemiBold;
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 11px;
    }
  }

  .style-ranking-list {
    ion-list-header {
      color: #333333;
      font-family: Montserrat-SemiBold;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      padding-left: 11px;
      margin-top: 25px;
      margin-bottom: -8px;
    }

    ion-badge {
      margin-right: 10px;
      margin-top: 10px;
      height: 16px;
      width: 16px;
      border-radius: 41.5px;
      color: #333333;
      font-family: Montserrat-SemiBold;
      font-size: 8px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 10px;
    }

    ion-avatar > ion-img {
      border-radius: 5px;
      margin-top: 0px;
      height: 48px;
      width: 48px;
    }

    ion-label {
      line-height: 7px;
      margin-left: 6px;
    }

    ion-item {
      --inner-padding-top: 15px;
      border-bottom: 1px solid #ebebeb;
      --padding-bottom: 14px;
      --padding-top: 3px;
      margin-left: 10px;
      margin-right: 10px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    ion-item ion-label > p {
      color: #333333;
      font-family: Montserrat-Regular;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0px;
    }

    ion-item ion-label > span {
      color: #707070;
      font-family: Montserrat-Regular;
      font-size: 10px;
      letter-spacing: 0;
    }
  }
}
